<table class="header">
  <tbody>
    <tr>
      <td>
        <div class="logo-box">
          <%= wicked_pdf_image_tag 'https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg', alt: 'Translantics Logo', class: 'logo' %>
          <div style="float:left;width:400px;"><p class="title" style="text-align:center;font-weight:bold;">TRANSLANTICS SHIPPING SERVICES</p></div>
        </div>
      </td>
      <td>
        <div class="text-right-grey">
          <%= @quote.created_at.strftime("%m/%d/%Y, %T") %><br />
          Quote
        </div>
      </td>
    </tr>
  </tbody>
</table>

<table class="header">
  <tbody>
    <tr>
      <td style="vertical-align: toFp">
        <div class="header-box-quote">
          <div>
            <p class="text-left-grey">Total gross weight: </p>
            <p style="padding-left: 15px;"><%= @quote.total_gross_weight %> Kg</p>
          </div>
          <div>
            <p class="text-left-grey">Status: </p>
            <p style="padding-left: 15px;"><%= @quote.status.capitalize %></p>
          </div>
          <div>
            <p class="text-left-grey">Departure: </p>
            <p style="padding-left: 15px;"><%= @quote.departure_city %>, <%= @quote.departure.country %></p>
          </div>
          <div>
            <p class="text-left-grey">Destination: </p>
            <p style="padding-left: 15px;"><%= @quote.destination_city %>, <%= @quote.destination.country %></p>
          </div>
          <div>
            <p class="text-left-grey">Incoterm: </p>
            <p style="padding-left: 15px;"><%= @quote.incoterm.abbr %></p>
          </div>
          <div>
            <p class="text-left-grey">Dimensions (Ft): </p>
            <p style="padding-left: 15px;">length: <%= @quote.length %> | width: <%= @quote.width %> | height: <%= @quote.height %></p>
          </div>
          <div>
            <p class="text-left-grey">Quoter: </p>
            <p style="padding-left: 15px;"><%= @quote.quoter&.name.presence || "N/A" %></p>
          </div>
          <div>
            <p class="text-left-grey">Email: </p>
            <p style="padding-left: 15px;"><%= @quote.quoter&.email.presence || "N/A" %></p>
          </div>
          <div>
            <p class="text-left-grey">Phone: </p>
            <p style="padding-left: 15px;"><%= @quote.quoter&.phone.presence || "N/A" %></p>
          </div>
          <div style="margin-bottom: 20px;">
            <p class="text-left-grey">Notes: </p>
            <p style="padding-left: 15px;"><%= @quote.message %></p>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
