<table class="header">
  <tbody>
    <tr>
      <td>
        <div class="logo-box">
          <%= wicked_pdf_image_tag 'https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg', alt: 'Translantics Logo', class: 'logo' %>
          <div style="float:left;width:400px;"><p class="title" style="text-align:center;font-weight:bold;">TRANSLANTIC SHIPPING SERVICES</p></div>
        </div>
      </td>
      <td>
        <div class="text-right-grey">
          <p>Tracking #: <%= @shipment.tracking_number %></p>
          <p>International Shipping</p>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<table class="header">
  <tbody>
    <tr>
      <td style="vertical-align: top">
        <div class="header-box-left">
          <div>
            <p class="text-left-grey">Status: </p>
            <p style="padding-left: 15px;"><%= @shipment.status&.gsub("_", " ")&.capitalize %></p>
          </div>
          <div>
            <p class="text-left-grey">Location: </p>
            <p style="padding-left: 15px;"><%= @shipment.location&.city %>, <%= @shipment.location&.country %></p>
            <p> </p>
          </div>
          <div>
            <p class="text-left-grey">Declared value: </p>
            <p style="padding-left: 15px;"><%= @shipment.declared_value %> USD</p>
            <p> </p>
          </div>
          <div>
            <p class="text-left-grey">Date submitted: </p>
            <p style="padding-left: 15px;"><%= @shipment.created_at.strftime("%m/%d/%Y, %T") %></p>
          </div>
          <div>
            <p class="text-left-grey">Departure: </p>
            <p style="padding-left: 15px;"><%= @shipment.departure.city %>, <%= @shipment.departure.country %></p>
            <p> </p>
          </div>
          <div>
            <p class="text-left-grey">Destination: </p>
            <p style="padding-left: 15px;"><%= @shipment.destination.city %>, <%= @shipment.destination.country %></p>
            <p> </p>
          </div>
          <div>
            <p class="text-left-grey">Frieght: </p>
            <p style="padding-left: 15px;"><%= @shipment.frieght_type.capitalize %></p>
            <p> </p>
          </div>
          <div>
            <p class="text-left-grey">Dutiable: </p>
            <p style="padding-left: 15px;"><%= @shipment.dutiable? ? "Yes" : "No" %></p>
            <p> </p>
          </div>
          <div>
            <p class="text-left-grey">Dimensions (Ft): </p>
            <p style="padding-left: 15px;">length: <%= @shipment.length %> | width: <%= @shipment.width %> | height: <%= @shipment.height %></p>
          </div>
          <div>
            <p class="text-left-grey">Weight (Kg): </p>
            <p style="padding-left: 15px;"><%= @shipment.weight %></p>
          </div>
          <div>
            <p class="text-left-grey">Quantity: </p>
            <p style="padding-left: 15px;"><%= @shipment.quantity %></p>
          </div>
          <div>
            <p class="text-left-grey">Incoterms: </p>
            <p style="padding-left: 15px;"><%= @shipment.incoterm.abbr %></p>
          </div>
        </div>
      </td>
      <td class="space-box"><div class="space-box"> </div></td>
      <td>
        <div class="header-box-right">
          <p>Receiver</p>
          <div>
            <p class="text-left-grey">Name: </p>
            <p style="padding-left: 15px;"><%= @shipment.receiver.name %></p>
          </div>
          <div>
            <p class="text-left-grey">Email: </p>
            <p style="padding-left: 15px;"><%= @shipment.receiver.email %></p>
          </div>
          <div>
            <p class="text-left-grey">Phone: </p>
            <p style="padding-left: 15px;"><%= @shipment.receiver.phone %></p>
          </div>
          <div>
            <p class="text-left-grey">Address line: </p>
            <p style="padding-left: 15px;"><%= @shipment.shipping_information.address_line1 %></p>
          </div>
          <br />
          <p>Shipper</p>
          <div>
            <p class="text-left-grey">Name: </p>
            <p style="padding-left: 15px;"><%= @shipment.shipper.name.presence || "N/A" %></p>
          </div>
          <div>
            <p class="text-left-grey">Email: </p>
            <p style="padding-left: 15px;"><%= @shipment.shipper.email.presence || "N/A" || "N/A" %></p>
          </div>
          <div>
            <p class="text-left-grey">Phone: </p>
            <p style="padding-left: 15px;"><%= @shipment.shipper.phone.presence || "N/A" %></p>
          </div>
          <div style="margin-bottom: 20px;height: 180px;">
            <p class="text-left-grey">Notes: </p>
            <p style="padding-left: 15px;"><%= @shipment.description %></p>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
