<%= form_with(model: shipment, scope: 'shipment', url: action_name == 'edit' ? shipment_path(shipment) : shipments_path, class: "w-full max-w-md mx-auto") do |form| %>
  <% if shipment.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(shipment.errors.count, "error") %> prohibited this shipment from being saved:</h2>

      <ul>
        <% shipment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <form>
    <%= form.submit "Save", class: 'text-white bg-blue-700 hover:bg-blue-800 rounded-lg cursor-pointer focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium w-full sm:w-auto px-5 py-2 my-3 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800' %>

    <%= link_to "Back to shipments", shipments_path, class: "rounded-lg font-medium w-full sm:w-auto px-5 py-2 my-3 text-center bg-gray-100 inline-block font-medium" %>
  </form>
<% end %>
