<tr id="<%= "#{dom_id(location)}_row" %>", class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">

  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
      <%= location.city %>
  </th>
  <td class="px-6 py-4">
      <%= location.country %>
  </td>
  <td class="px-6 py-4">
      <%= location.state %>
  </td>
  <td class="px-6 py-4">
    <%= link_to "Edit", edit_location_path(location), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
    <%= link_to "Destroy", location, data: { turbo_confirm: "Are you sure?", turbo_method: :delete }, class: "font-medium text-red-600 dark:text-red-500 hover:underline" %>
  </td>

</tr>
